*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex {
  display: flex;
}
.flex-auto,
.flex-auto-xs {
  flex: auto;
  padding-right: 15px;
}
.justify-center {
  justify-content: center;
}
.font-bold {
  font-weight: bold;
}

#body-2 {
  padding-top: 100px;
  padding-bottom: 150px;
}
#body-2 > .best-top {
  margin-bottom: 50px;
}
#body-2 > .best-top > .flex-auto > h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  font-style: normal;
}
#body-2 > .best-top > .flex-auto > a.recomendation {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #9094a2;
}
.item {
  width: 250px;
  height: 456px;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
}
.item > .type {
  position: absolute;
  z-index: 99;
  width: 133px;
  height: 50px;
  background-color: #fff;
  padding: 13px;
  border-bottom-right-radius: 20px;
}
.item > .type > span {
  position: absolute;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;

  text-align: center;
  color: #5943a6;
}
.item .pic {
  width: 100%;
  height: 380px;
  /* max-height: 380px; */
  overflow: hidden;
  margin: 0;
  position: relative;
  border-radius: 20px;
  margin-bottom: 20px;
}
.item .pic:hover {
  /* transform: scale(1.01); */
  box-shadow: 0 1px 8px #e8e9eb;
}
.item > .pic > img {
  position: absolute;
  width: auto;
  height: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.name_ {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #132039;
}
.location_ {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #898889;
}
.price_ {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: right;
  color: #0a9f82;
}
@media (max-width: 1000px) {
  .flex {
    flex-wrap: wrap;
  }
  .flex-auto {
    width: 50%;
  }
  .item {
    margin-bottom: 20px;
  }
  .name_ {
    font-size: 18px;
  }
  .location_ {
    font-size: 16px;
  }
  .price_ {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  #body-2 > .best-top > .flex-auto > h2 {
    font-size: 30px;
  }
  #body-2 > .best-top > .flex-auto > a.recomendation {
    font-size: 12px;
  }
}
@media (max-width: 425px) {
  #body-2 > .best-top > .flex-auto > h2 {
    font-size: 25px;
  }
  #body-2 > .best-top > .flex-auto > a.recomendation {
    font-size: 10px;
  }
  .flex-auto {
    width: 100%;
  }
}
